<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>layout/admin_dashboard.html</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/default2.css}">
  <th:block layout:fragment="customCss"></th:block>
</head>
<body>
<div id="wrapper">
  <!-- header -->
  <div th:replace="~{fragments/header :: header}"></div>

  <!-- sidebar -->
  <div th:replace="~{fragments/sidebar :: sidebar(gubun = 'ADMIN')}"></div>

  <!-- content -->
  <div id="content" class="content">
    <div class="grid-container">
      <div class="grid-item">
        <!-- 페이지마다 내용이 바뀌는 공간을 미리 정의 -->
        <th:block layout:fragment="customContents">
        	관리자 대시보드
        </th:block>
      </div>
    </div>
  </div>

  <!-- 페이지마다 작성될 스크립트 공간 정의 -->
  <th:block layout:fragment="customJs"></th:block>
</div>
</body>
</html>