<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>layout/default.html</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <th:block layout:fragment="customCss"></th:block>
</head>
<body>
    <div id="wrapper">
        <!-- header -->
        <div th:replace="~{fragments/header :: header}"></div>

        <!-- sidebar -->
        <!-- 권한 여부는 하드코딩 -->
        <div th:replace="~{fragments/sidebar :: sidebar(gubun = 'USER')}"></div>

        <!-- content -->
        <div id="content" class="content">
            <div class="grid-container">
                <div class="grid-item">
                    <!-- 페이지마다 내용이 바뀌는 공간을 미리 정의 -->
                    <th:block layout:fragment="customContents1"></th:block>
                </div>
                <div class="grid-item">
                    <!-- 페이지마다 내용이 바뀌는 공간을 미리 정의 -->
                    <th:block layout:fragment="customContents2"></th:block>
                </div>
            </div>
        </div>

        <!-- 페이지마다 작성될 스크립트 공간 정의 -->
        <th:block layout:fragment="customJs"></th:block>
    </div>
</body>
</html>