<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" href="/common/css/nav.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div th:fragment="nav">
        <!-- 헤더 영역, 공통으로 사용될 부분 -->
        <header>
            <div class="header-right">
                <span>다국어 지원 &#9660;</span>
                <span>로그아웃</span>
            </div>
        </header>

        <!-- 사이드바 영역, 공통으로 사용될 부분 -->
        <aside class="sidebar">
            <div class="profile">
                <img src="/images/profile.png" alt="profile picture">
                <p>홍길동</p>
            </div>
            <ul>
                <li><a href="#">대시보드</a></li>
                <li><a href="#">인적자원</a>
                    <ul>
                        <li><a href="#">선수</a></li>
                        <li><a href="#">훈련</a></li>
                        <li><a href="/user/injurylist">부상</a></li>
                    </ul>
                </li>
                <li><a href="#">시설</a></li>
                <li><a href="#">코치</a></li>
                <li><a href="#">일정</a></li>
                <li><a href="#">경기</a></li>
                <li><a href="#">팀 정보</a></li>
            </ul>
        </aside>
    </div>
</body>
</html>
