<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Header Fragment</title>

</head>
<body>
	<div th:fragment="header" class="header">
		<div class="menu__wrapper">
			<div class="menu__bar">
				<a href="#" title="Logo" class="logo"> SOCCER ERP </a>
				<ul class="navigation">
					<li>
						<a href="#services" title="Services"> 마이페이지 </a>
					</li>
					<li>
						<a href="javascript:void(0);" onclick="document.querySelector('#logoutForm').submit();" title="Blog">
							로그아웃 
						</a>

						<form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
