<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sidebar Fragment</title>
</head>
<body>
<div th:fragment="sidebar(gubun)" class="sidebar">
  <div class="sidebar-links">
    <ul>
      <li>
        <a th:href="@{/main}" title="Dashboard" class="tooltip">
          <span class="link hide">Dashboard</span>
          <span class="tooltip__content">Dashboard</span>
        </a>
      </li>
      <!-- role이 ADMIN인 경우에만 Finance 탭 보이도록 -->
      <!-- role이 어떻게 넘어올지 몰라서 일단 하드코딩, 수정 예정~ -->
      <li th:if="${gubun == 'ADMIN'}">
        <a th:href="@{/main}" title="Finance" class="tooltip">
          <span class="link hide">재정 관리</span>
          <span class="tooltip__content">Finance</span>
        </a>
      </li>
      <li>
        <a th:href="@{/player}" title="Analytics" class="tooltip">
          <span class="link hide">선수 관리</span>
          <span class="tooltip__content">선수 관리</span>
        </a>
      </li>
      <li>
        <a th:href="@{/#}" title="Reports" class="tooltip">
          <span class="link hide">시설 관리</span>
          <span class="tooltip__content">시설 관리</span>
        </a>
      </li>
      <li>
        <a th:href="@{/#}" title="Industries" class="tooltip">
          <span class="link hide">경기 관리</span>
          <span class="tooltip__content">경기 관리</span>
        </a>
      </li>
      <li>
        <a th:href="@{/#}" title="Settings" class="tooltip">
          <span class="link hide">코치 관리</span>
          <span class="tooltip__content">코치 관리</span>
        </a>
      </li>
      <li>
        <a th:href="@{/schedule}" class="tooltip">
          <span class="link hide">일정 관리</span>
          <span class="tooltip__content">일정 관리</span>
        </a>
      </li>
      <li>
        <a th:href="@{/#}" title="Notifications" class="tooltip">
          <span class="link hide">팀 정보</span>
          <span class="tooltip__content">팀 정보</span>
        </a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
